 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ser-ui";
  font-style:normal;
  font-weight:400;
  speak:none;
  display:inline-block;
  text-decoration:inherit;
  width:24px;
  line-height:24px;
  font-size:24px;
  text-align:center;
  font-variant:normal;
  text-transform:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-shadow:1px 1px 1px rgba(127,127,127,.3);
}