@import 'mixins.scss';
@import 'colors.scss';

.bdg {
    position: absolute;
    top: -8px;
    right: -8px;
    line-height: 12px;
    background: white;
    padding: 4px;
    border-radius: 50%;
    min-width: 14px;
    min-height: 14px;
    text-align: center;
    font-size: 14px;
}

.bdg.light-blue {
    background: $light-blue-background;
}

.bdg.blue {
    background: $blue-background;
}

.bdg.green {
    background: $green-background;
}

.bdg.yellow {
    background: $yellow-background;
}

.bdg.orange {
    background: $orange-border;
    color: white;
}

.bdg.red {
    background: red;
    color: white;
}