@import 'mixins';

.breadcrumb {
    font-size: rem(12);
    margin: 16px;
    padding: 12px;
    background: white;
    @include shadow();
}

.breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include row();
    @include start-center();
}

.breadcrumb em,
.breadcrumb a {
  font-style: normal;
  padding: 0 10px;
  display: inline-block;
  white-space: nowrap; 
}

.breadcrumb em {
  color: rgba(0, 0, 0, 0.5); 
}

.breadcrumb a {
  color: #000;
  text-decoration: none; 
}

.breadcrumb a:hover {
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline; 
}

.breadcrumb li:after {
  display: inline-block;
  content: '/';
  color: $primary_color;
}

.breadcrumb li:last-child:after {
  display: none; 
}

.breadcrumb li:first-child em,
.breadcrumb li:first-child a {
  padding-left: 0; 
}

.breadcrumb li.active em,
.breadcrumb li.active a {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4); 
}

@media (max-width: 800px) {
    .breadcrumb {
        margin: 16px 0;
    }
}