@import 'mixins';

.crud-utils{
    margin: 16px;
    padding: 16px;
    background: white;
    @include shadow;
}

.crud-utils .tools{
    @include row-wrap;
    @include start-center;
}

.crud-utils .tools .search{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 0 8px 0 0;
}

.crud-utils .tools .search input{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    width: calc(100% - 24px);
    padding: 6px 12px;
    font-family: inherit;
    font-size: rem(13);
    color: rgba(0, 0, 0, 0.7);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #989898;
    border-radius: 6px;
    outline: none;
    -webkit-appearance: none;
}

.crud-utils .filters {
    padding-top: 10px;
}

.crud-wrapper{
    position: relative;
    margin: 16px;
    background: white;
    @include shadow;
}

.crud-wrapper.loading{
    min-height: 300px;
}

.crud-wrapper[md-virtual-repeat-container]{
    height: calc(100vh - 230px);
    overflow-x: auto;
}

.crud-wrapper[md-virtual-repeat-container] .loader-wrapper {
    height: calc(100vh - 230px);
}

.crud-wrapper .item-wrapper{
    position: relative;
    padding: 24px 16px;
    border-bottom: 1px solid $grey-border;
    @include row-wrap;
}

.crud-wrapper .item-wrapper:last-child{
    border-bottom: none;
}

.crud-wrapper .item-wrapper:hover{
    background-color: rgba(0, 0, 0, 0.06);
}

.crud-wrapper .item-wrapper .title{
    font-size: rem(16);
}

.crud-wrapper .item-wrapper .options{
    @include row;
    @include start-center;
}

@media (max-width: 600px){
    .crud-utils{
        margin: 16px 0;
    }

    .crud-utils button,
    .crud-utils .button{
        margin-top: 8px;
    }

    .crud-wrapper{
        margin: 16px 0;
    }

    .crud-utils .tools .search{
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0;
    }
}

.chip {
    padding: 4px 12px;
    background: $grey-hover;
    margin-left: 8px;
    border-radius: 6px;
}

.chip.blue {
    background: $blue-background;
}

.chip.light-blue {
    background: $light-blue-background;
}

.chip.green {
    background: $green-background;
}

.chip.yellow {
    background: $yellow-background;
}

.chip.orange {
    background: $orange-background;
}

.chip.red {
    background: $red-border;
}