@import 'mixins.scss';

.dialog-message {
    @include row;
    max-width: 500px;
}

.dialog-message .image {
    width: 100px;
    min-width: 100px;
    @include row;
    @include center-center;
}

.dialog-message .image img {
    max-width: 100%;
}

.dialog-message .text {
    margin-left: 24px;
    text-align: right;
    font-size: rem(16);
}

.dialog-message .text .form-errors {
    margin: 0;
    padding: 0;
}

.dialog-message .text .form-errors li {
    margin: 0;
    padding: 0;
    list-style: none;
}