@import 'mixins.scss';

fieldset {
    -webkit-padding-before: 16px;
    padding: 16px 16px 8px;
    margin: 0;
    border-radius: 4px;
    font-family: inherit;
    border: 1px solid #dcdcdc;
    position: relative;
}

legend {
    position: relative;
    top: 2px;
    font-size: rem(13);
    text-transform: uppercase;
    padding: 0 16px;
    margin-left: -10px;
    user-select: none;
}

label{
    user-select: none;
}

.form-group {
    position: relative;
    padding: 0 4px 8px;
}

.form-group.no-padding {
    padding-bottom: 0;
}

.form-group > label:not(.switch) {
    display: inline-block;
    font-size: rem(10);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.form-group .input-group {
    //overflow: hidden;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-group input:not(.not-styled),
.form-group textarea:not(.not-styled),
.form-group select:not(.not-styled) {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    width: calc(100% - 24px);
    padding: 6px 12px;
    font-family: inherit;
    font-size: rem(13);
    color: rgba(0, 0, 0, 0.7);
    //background-color: #f5f5f5;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #989898;
    border-radius: 6px;
    outline: none;
    -webkit-appearance: none;
}

.form-group select:not(.not-styled),
.form-group .selector-container{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

.form-group input:not(.not-styled):focus,
.form-group textarea:not(.not-styled):focus,
.form-group .selector-container.open .selector-input,
.form-group select:not(.not-styled):focus {
    border-color: #66dee9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 222, 233, 0.6);
}

input[disabled],
textarea[disabled],
select[disabled]{
    cursor: not-allowed;
    user-select: none;
}

.input-group .addon {
    padding: 3px 12px;
    margin-bottom: 0;
    font-weight: normal;
    color: #303030;
    text-align: center;
    border: 1px solid #989898;
    background-color: #f5f5f5;
    border-radius: 6px;
    user-select: none;
    @include row;
    @include center-center;
}

.input-group > input:not(.not-styled):first-child, 
.input-group > textarea:not(.not-styled):first-child, 
.input-group > select:not(.not-styled):first-child,
.input-group > .selector-container:first-child .selector-input,
.input-group > .addon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .addon:first-child {
    border-right-width: 0;
}

.input-group > input:not(.not-styled):last-child, 
.input-group > textarea:not(.not-styled):last-child, 
.input-group > select:not(.not-styled):last-child, 
.input-group > .selector-container:last-child .selector-input,
.input-group > .addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .addon:last-child {
    border-left-width: 0;
}

.input-group > input:not(:first-child):not(:last-child), 
.input-group > textarea:not(:first-child):not(:last-child), 
.input-group > select:not(:first-child):not(:last-child), 
.input-group > .selector-container:not(:first-child):not(:last-child) .selector-input,
.input-group > .addon:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group > input:first-child:last-child:only-child, 
.input-group > textarea:first-child:last-child:only-child, 
.input-group > select:first-child:last-child:only-child, 
.input-group > .selector-container:first-child:last-child:only-child .selector-input,
.input-group > .addon:first-child:last-child:only-child{
    border-radius: 6px;
}

.form-group [ng-messages].ng-active{
    margin-top: 8px;
    color: red;
    user-select: none;
}

.form-group input.ng-invalid.ng-dirty:not(.not-styled),
.form-group textarea.ng-invalid.ng-dirty:not(.not-styled),
.form-group select.ng-invalid.ng-dirty:not(.not-styled),
.form-group .selector-container.ng-invalid.ng-dirty .selector-input {
    border-color: $red-border;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($red-border,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($red-border, 0.6);
}

/*.form-group .loader{
    @include start-center;
}

.form-group label+.loader{
    padding-top: 8px;
}*/

.form-group .loader:after {
  overflow: hidden;
  position: absolute;
  -webkit-animation: ellipsis steps(4,end) 4s infinite;      
  animation: ellipsis steps(4,end) 4s infinite;
  content: "...";
  width: 0px;
}