@import 'mixins.scss';

.week-day,
week-day {
    display: block;
    padding: 16px;
}

.week-day .wrapper,
week-day .wrapper {
    @include row;
    @include space-around-center;
}

.week-day .wrapper .day,
week-day .wrapper .day {
    display: -webkit-flex;
    display: flex;
    @include center-center;
    padding: 4px;
    border: 1px solid $blue-border;
    color: $blue-font;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    user-select: none;
}

.week-day .wrapper .day.active,
week-day .wrapper .day.active {
    background: $blue-background;
    color: $blue-font;
}